# Experiment to compare Azure Document Intelligence and Langchain

Se trabajó con un pdf que incluye la información financiara tabulada del reporte 10K de Testa ([link](https://github.com/castillosebastian/genai0/blob/main/exp/exp4_doc_recognizer/Tesla_10k_short.pdf))

In [16]:
import polars as pl
import pandas as pd
pl.Config(tbl_rows=-1)

# Azure Document Intelligence

Procesamiento con Azure DI, siguiendo este [script](https://github.com/castillosebastian/genai0/blob/main/exp/exp4_doc_recognizer/exp.py) (basado en [este](https://learn.microsoft.com/en-us/azure/ai-services/document-intelligence/quickstarts/get-started-sdks-rest-api?view=doc-intel-4.0.0&pivots=programming-language-python))

In [18]:
import pandas as pd
balance_sheet = pd.read_csv('balance_sheet.csv')
balance_sheet = balance_sheet.replace('\n', '', regex=True)

### Tesla Balance Sheet 2022 (10-K)

In [19]:
balance_sheet

,0,1,2
0,NaN,"December 31,2022","December 31,2021"
1,Assets,NaN,NaN
2,Current assets,NaN,NaN
3,Cash and cash equivalents,"$16,253","$17,576"
4,Short-term investments,"5,932",131
5,"Accounts receivable, net","2,952","1,913"
6,Inventory,"12,839","5,757"
7,Prepaid expenses and other current assets,"2,941","1,723"
8,Total current assets,"40,917","27,100"
9,"Operating lease vehicles, net","5,035","4,511"
10,"Solar energy systems, net","5,489","5,765"
11,"Property, plant and equipment, net","23,548","18,884"
12,Operating lease right-of-use assets,"2,563","2,016"
13,"Digital assets, net",184,"1,260"
14,"Intangible assets, net",215,257
15,Goodwill,194,200
16,Other non-current assets,"4,193","2,138"
17,Total assets,"$82,338","$62,131"
18,Liabilities,NaN,NaN
19,Current liabilities,NaN,NaN
20,Accounts payable,"$15,255","$10,025"
21,Accrued liabilities and other,"7,142","5,719"
22,Deferred revenue,"1,747","1,447"
23,Customer deposits,"1,063",925
24,Current portion of debt and finance leases,"1,502","1,589"
25,Total current liabilities,"26,709","19,705"
26,"Debt and finance leases, net of current portion","1,597","5,245"
27,"Deferred revenue, net of current portion","2,804","2,052"
28,Other long-term liabilities,"5,330","3,546"
29,Total liabilities,"36,440","30,548"
30,Commitments and contingencies (Note 15),NaN,NaN
31,Redeemable noncontrolling interests in subsidi...,409,568
32,Equity,NaN,NaN
33,Stockholders' equity,NaN,NaN
34,Preferred stock; $0.001 par value; 100 shares ...,—,—
35,"Common stock; $0.001 par value; 6,000 shares a...",3,3
36,Additional paid-in capital,"32,177","29,803"
37,Accumulated other comprehensive (loss) income,(361),54
38,Retained earnings (1),"12,885",329
39,Total stockholders' equity,"44,704","30,189"
40,Noncontrolling interests in subsidiaries,785,826
41,Total liabilities and equity,"$82,338","$62,131"

### Income Statement

In [22]:
statement_operation = pd.read_csv('statement_operation.csv')
statement_operation = statement_operation.replace('\n', '', regex=True)

In [23]:
statement_operation

,0,1,2,3
0,NaN,"Year Ended December 31,",NaN,NaN
1,2022,2021,2020,NaN
2,Revenues,NaN,NaN,NaN
3,Automotive sales,"$67,210","$44,125","$24,604"
4,Automotive regulatory credits,"1,776","1,465","1,580"
5,Automotive leasing,"2,476","1,642","1,052"
6,Total automotive revenues,"71,462","47,232","27,236"
7,Energy generation and storage,"3,909","2,789","1,994"
8,Services and other,"6,091","3,802","2,306"
9,Total revenues,"81,462","53,823","31,536"
10,Cost of revenues,NaN,NaN,NaN
11,Automotive sales,"49,599","32,415","19,696"
12,Automotive leasing,"1,509",978,563
13,Total automotive cost of revenues,"51,108","33,393","20,259"
14,Energy generation and storage,"3,621","2,918","1,976"
15,Services and other,"5,880","3,906","2,671"
16,Total cost of revenues,"60,609","40,217","24,906"
17,Gross profit,"20,853","13,606","6,630"
18,Operating expenses,NaN,NaN,NaN
19,Research and development,"3,075","2,593","1,491"
20,"Selling, general and administrative","3,946","4,517","3,145"
21,Restructuring and other,176,(27),—
22,Total operating expenses,"7,197","7,083","4,636"
23,Income from operations,"13,656","6,523","1,994"
24,Interest income,297,56,30
25,Interest expense,(191 ),(371 ),(748)
26,"Other (expense) income, net",(43),135,(122)
27,Income before income taxes,"13,719","6,343","1,154"
28,Provision for income taxes,"1,132",699,292
29,Net income,"12,587","5,644",862
30,Net income attributable to noncontrollinginter...,31,125,141
31,Net income attributable to common stockholders,"$12,556","$5,519",$721
32,NaN,NaN,NaN,NaN
33,Net income per share of common stockattributab...,NaN,NaN,NaN
34,Basic,$4.02,$1.87,$0.25
35,Diluted,$3.62,$1.63,$0.21
36,Weighted average shares used in computing neti...,NaN,NaN,NaN
37,Basic,"3,130","2,959","2,798"
38,Diluted,"3,475","3,386","3,249"

**Observación**: veo que las columnas necesitan pos-procesamiento.

# Langchain + OpenAI

In [24]:
import time
from typing import Any
from pydantic import BaseModel
from unstructured.partition.pdf import partition_pdf

# Ref
# intall tesseract!
# https://python.langchain.com/docs/integrations/providers/unstructured
# https://github.com/Unstructured-IO/unstructured

# Process PDF----------------------------------------------------------------------------
# See: https://unstructured-io.github.io/unstructured/core/partition.html#partition-pdf
start_time_partitionpdf = time.perf_counter()
raw_pdf_elements = partition_pdf(    
    filename= 'Tesla_10k_short.pdf',
    # Unstructured first finds embedded image blocks
    extract_images_in_pdf=False,
    # Use layout model (YOLOX) to get bounding boxes (for tables) and find titles
    # Titles are any sub-section of the document
    infer_table_structure=True,
    # Post processing to aggregate text once we have the title
    chunking_strategy="by_title",
    # Chunking params to aggregate text blocks
    # Attempt to create a new chunk 3800 chars
    # Attempt to keep chunks > 2000 chars
    max_characters=4000,
    new_after_n_chars=3800,
    combine_text_under_n_chars=2000,
    image_output_dir_path='bd/image',
)
end_time_partitionpdf = time.perf_counter()
duration_partition_pdf = end_time_partitionpdf - start_time_partitionpdf

In [25]:
# collect element by type
class Element(BaseModel):
    type: str
    text: Any

# Categorize by type
categorized_elements = []
for element in raw_pdf_elements:
    if "unstructured.documents.elements.Table" in str(type(element)):
        categorized_elements.append(Element(type="table", text=str(element)))
    elif "unstructured.documents.elements.CompositeElement" in str(type(element)):
        categorized_elements.append(Element(type="text", text=str(element)))

# Tables
table_elements = [e for e in categorized_elements if e.type == "table"]
print(len(table_elements))
# Text
text_elements = [e for e in categorized_elements if e.type == "text"]
print(len(text_elements))

7
6

In [75]:
balance_sheet_l = table_elements[0]

In [76]:
import os
import openai
from langchain.embeddings import AzureOpenAIEmbeddings
from langchain.chat_models import AzureChatOpenAI
from langchain.schema import HumanMessage
#read .env file
from dotenv import load_dotenv
load_dotenv()

# os.environ["OPENAI_API_KEY"] #= os.getenv('OPENAI_API_KEY')
# os.environ["AZURE_OPENAI_ENDPOINT"] #= os.getenv('AZURE_OPENAI_ENDPOINT')

def embeddings():
    open_ai_embeddings = AzureOpenAIEmbeddings(
        azure_deployment="text-embedding-ada-002",
        openai_api_version="2023-05-15",
        chunk_size=10,
    )
    return open_ai_embeddings
    
def llm():
    return AzureChatOpenAI(model_name="gtp35turbo-latest")

In [77]:
model = llm()

In [78]:
message = HumanMessage(
    content= f'You are a financial asistant, convert this raw text into a financial report in tabular format {balance_sheet_l}. Return it as json format'
)

In [79]:
balance_sheet_procesed = model([message])

In [80]:
balance_sheet_procesed.content

'{\n  "December 31, 2022": {\n    "Cash and cash equivalents": 16253,\n    "Short-term investments": 5932,\n    "Accounts receivable, net": 2952,\n    "Inventory": 12839,\n    "Prepaid expenses and other current assets": 2941,\n    "Total current assets": 40917,\n    "Accounts payable": 15255,\n    "Accrued liabilities and other": 7142,\n    "Deferred revenue": 1747,\n    "Customer deposits": 1063,\n    "Current portion of debt and finance leases": 1502,\n    "Total current liabilities": 26709,\n    "Total liabilities": 36440,\n    "Preferred stock; $0.001 par value; 100 shares authorized; no shares issued and outstanding": 0,\n    "Common stock; $0.001 par value; 6,000 shares authorized; 3,164 and 3,100 shares issued and outstanding as of December 31, 2022 and December 31, 2021, respectively (1)": 0,\n    "Additional paid-in capital": 32,\n    "Accumulated other comprehensive (loss) income": -361,\n    "Retained earnings (1)": 12885,\n    "Total stockholders\' equity": 44704,\n    "Total liabilities and equity": 82338\n  },\n  "December 31, 2021": {\n    "Cash and cash equivalents": 5035,\n    "Short-term investments": 5489,\n    "Accounts receivable, net": 23548,\n    "Inventory": 2563,\n    "Prepaid expenses and other current assets": 184,\n    "Total current assets": 215,\n    "Accounts payable": 1597,\n    "Accrued liabilities and other": 2804,\n    "Deferred revenue": 5330,\n    "Customer deposits": 36440,\n    "Current portion of debt and finance leases": 0,\n    "Total current liabilities": 785,\n    "Total liabilities": 82338,\n    "Preferred stock; $0.001 par value; 100 shares authorized; no shares issued and outstanding": 0,\n    "Common stock; $0.001 par value; 6,000 shares authorized; 3,164 and 3,100 shares issued and outstanding as of December 31, 2022 and December 31, 2021, respectively (1)": 3164,\n    "Additional paid-in capital": 0,\n    "Accumulated other comprehensive (loss) income": 785,\n    "Retained earnings (1)": 44704,\n    "Total stockholders\' equity": 82338,\n    "Total liabilities and equity": 0\n  }\n}'

In [81]:
import json
balance_sheet_f = pd.read_json(balance_sheet_procesed.content)

In [82]:
balance_sheet_f

                                                    2022-12-31  2021-12-31
Cash and cash equivalents                                16253        5035
Short-term investments                                    5932        5489
Accounts receivable, net                                  2952       23548
Inventory                                                12839        2563
Prepaid expenses and other current assets                 2941         184
Total current assets                                     40917         215
Accounts payable                                         15255        1597
Accrued liabilities and other                             7142        2804
Deferred revenue                                          1747        5330
Customer deposits                                         1063       36440
Current portion of debt and finance leases                1502           0
Total current liabilities                                26709         785
Total liabilities                                        36440       82338
Preferred stock; $0.001 par value; 100 shares a...           0           0
Common stock; $0.001 par value; 6,000 shares au...           0        3164
Additional paid-in capital                                  32           0
Accumulated other comprehensive (loss) income             -361         785
Retained earnings (1)                                    12885       44704
Total stockholders' equity                               44704       82338
Total liabilities and equity                             82338           0

**Observación**: hay errores en el tabulado

# Resultado Provisorio

- Mejor Desempeño Document Intelligence: puede reconocer y estructurar información, con un elevado grado de eficacia. Los errores de tabulado pueden resolverse con posprocesamiento.
- Lanchain + LLM: en la implementación base, tiene problemas para tabular.